body{
    margin: 0;
    margin-top: 40px;
    overflow: hidden;
    text-align: center;
}

.wrapper{
    overflow: hidden;
}

a{
    text-decoration: none;
    color: rgb(0, 86, 161);
}

.title{
    cursor: default;
    position: fixed;
    z-index: 101;
    text-align: left;
    display: inline-block;
    top: 0;
    left: 0;
    font-family: 'Abel';
    font-size: 20px;
    padding-left: 10px;
    font-family: 'Economica', sans-serif;
    color: black;
}


#wheel{
    display: none;
    margin-right: auto;
    margin-left: auto;
    margin-top: 100px;
    transform: rotateZ(0deg);
}
